html, body {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2em;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    min-width: 75px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(19, 155, 233);
}

.header .titulo {
    display: inline-block;
    padding: 0;
}

.header .titulo>h1 {
    margin: 15px 0 0;
}

.header>nav {
    margin: 15px;
}

.header > nav ul li {
    display: inline;
    list-style-type: none;
}

.menu > ul > li > a {
    text-decoration: none;
    color:#333
}

.logo {
    display: block;
    float: right;
    margin-right: 50px;
    margin-left: 50px;
}


.logo>img {
    max-width: 75px;
    min-width: 75px;
    max-height: 76px;
    min-height: 76px;
}

.ficha {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 1px 1px 3px #888;
    background-color: #cf81fc;
}

.ficha>img {
    max-width: 300px;
    min-width: 200px;
    max-height: 300px;
    min-height: 200px;
    border-radius: 10px;
    display: block;
}

.ficha>.datos {
    padding: 5px 20px;
    color: blue;
    margin-top: 0;
}

.content {
    width: 80%;
    margin: 20px auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 5px;
}
